.radio-card {
    cursor: pointer;
    transition: all 0.2s ease;
    height: 100%;
}

.radio-card:hover {
    transform: scale(1.02);
}

.radio-card.selected {
    transform: scale(1.05);
    border-color: rgb(2, 183, 183) !important;
    background-color: rgba(2, 183, 183, 0.1);
}

.radio-card input[type="radio"] {
    margin-top: 0px;
    display: none;
}

.form-control:focus {
    border-color: gray;
    box-shadow: 0 0 0 0.2rem rgba(41, 41, 41, 0.25);
}

.choice-groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin: 1.5rem 0;
}

@media (max-width: 768px) {
    .choice-groups {
        grid-template-columns: 1fr;
    }
}

.choice-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* Loading Overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-overlay.active {
    display: flex;
}

.spinner-container {
    text-align: center;
}

.spinner-text {
    margin-top: 1rem;
    font-weight: 500;
}

.suggestion-section {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Suggestion Cards */
.suggestion-card {
    cursor: pointer;
    transition: all 0.2s ease;
}

.suggestion-card:hover {
    transform: scale(1.02);
}

.xp-display {
    padding: 0.75rem;
    background-color: #333b42;
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin: 1rem;
    color: #13e18f;
}

.energy-display {
color: yellow;
z-index: 1000;
}

.energy-display .progress {
    background-color: #2d3238;
    width: 100px;
    height: 8px;
}

.energy-display .progress-bar {
    transition: width 0.3s ease;
}

.energy-display .energy-cost-badge {
    animation: fadeOutUp 1s ease forwards;
    opacity: 0;
    transform: translateY(0);
    font-size: 0.7rem;
    margin-left: -10px;
    margin-top: -10px;
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}