{% extends 'auth_base.html' %}

{% load static %}

{% block content %}
    <div class="content-section">
        <div class="card pt-4 pb-5 px-5 mt-2 bg-card-primary">
        <h2 class="text-center">password peset</h2><hr>
        <p>Please enter your new password</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-info" type="submit">Reset password</button>
        </form>
        </div>
        
    </div>
{% endblock %}