.bg-card-primary {
    background-color: rgb(30, 32, 32);
}

.round-font-style {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(18, 20, 20);
    color: whitesmoke !important;
}